#!/usr/bin/env bash

yum update -y
yum install -y docker

usermod -a -G docker ec2-user
service docker start
mkdir -p /opt/consul/config
mkdir -p /opt/consul/tls/certs
mkdir -p /opt/consul/tls/private

cat <<EOF > /opt/consul/config/server.json
{
  "datacenter": "${var.region}",
  "data_dir": "/consul/data/",
  "log_level": "INFO",
  "server": true,
  "encrypt": "${var.consul_encrypt}",
  "bootstrap_expect": ${var.count_srv},
  "skip_leave_on_interrupt": true,
  "ui": true,
  "ports": {
    "https": 8501
  },
  "key_file": "/consul/tls/private/my.key",
  "cert_file": "/consul/tls/certs/server.crt",
  "ca_file": "/consul/tls/certs/ca-bundle.crt",
  "verify_incoming": true,
  "verify_outgoing": true
}
EOF
echo "${var.ca_public_key}" > /opt/consul/tls/certs/ca-bundle.crt
echo "${var.public_key_srv}" > /opt/consul/tls/certs/server.crt
echo "${var.private_key}" > /opt/consul/tls/private/my.key

docker run -d --net=host --name=consul-server -v /opt/consul:/consul consul agent -server -client='{{ GetInterfaceIP "eth0" }}' -bind='{{ GetInterfaceIP "eth0" }}' -retry-join "provider=aws tag_key=Consul tag_value=Server"
